@page "/"
@inject IModalService Modal  

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="ShowModal">Show modal</button>

@code {
    private void ShowModal()
    {
        Modal.Show<LongModal>("Long modal", new ModalOptions
        {
            Position = ModalPosition.Middle,
        });
    }
}
